asgiref==3.5.2
autopep8==1.7.0
bcrypt==4.0.1
click==8.1.3
colorama==0.4.5
Django==4.1.3
Flask==2.2.2
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
greenlet==2.0.0.post0
image==1.5.33
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
passlib==1.7.4
Pillow==9.3.0
pycodestyle==2.9.1
qrcode==7.3.1
six==1.16.0
SQLAlchemy==1.4.43
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.6
Werkzeug==2.2.2
zipp==3.8.1
