#createMachineContainer{
    margin-top: 2%;
    color: white;
    /* background-color: black; */
    /* width: 100%; */
    height: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

#createMachineText{
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#createMachineTypeContainer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem
}

.createMachineType, .machineTime{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    height: 5rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.createButton:hover{
    color: antiquewhite;
    cursor: pointer;
}

.createWashMachineTimeContainer{
    margin-top: 2rem;
    /* display: flex; */
    display: none;
    justify-content: center;
    gap: 1rem;
}

.machineTime{
    /* display: none; */
    display: flex;
    height:3rem;
    width: 5rem;
}