
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#mai_logo_container{
  height: 300px;
  position: absolute;
}
#mai_logo{
  margin-top: -5.5rem;
  margin-left: 1rem;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 5;
}

@media screen and (max-width: 880px){
  #mai_logo_container{
    display: none;
  }
}

#header{
    position: static;
    z-index: 3;
    display: block;
    width: 100%;
    font-size: .8em;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: center;
    background: black;
    color: white;
}


#nav{
    position: relative;
    top:0;
    font-size: .8em;
    letter-spacing: 1px;
    margin-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-bottom: 10px;

}

#option{
    width: 500px;
    height: 30px;
    background-color: #000000;
    border-radius: 13px;
    color:white;
}

#option > div{
    float:left;
    height: 30px;
    line-height: 30px;
    width: calc(100% / 2);  
    display: block;
}

#option > div:hover{
    background-color: rgb(156, 58, 58);
    border-radius: 13px;
    color:white;
    /* transition: all 0.1s ease-in; */
    /* color: black; */
}


#upload{
    text-align: center;
}


@media (min-width: 768px) {
  .offset {
    min-width: 170px;
  }
}

#postFit{
  text-align: center;
  border: 2px dashed transparent;
  border-color:"transparent";
  border-radius: 20px;
  width: 480px;
  margin-top: 0px;
  margin: auto;
  padding: 20px;
}



#file-chosen{
  margin-top: 0px;
  position: absolute;
  margin-left: 0.8rem;
  /* display: none; */
}

/* CSS */
.submit,#upload_label,#demo {
  background-color: white;
  border-radius: 0.3rem;
  margin-top: 20px;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 12px;
  
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight:bold;
}

.submit:active,#upload_label:active,#zoom:active,#demo:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}



@media (min-width: 768px) {
  .submit,#upload_label,#demo {
    padding: 0.25em 0.75em;
  }
}
.button-area span{
  display:none;
}

#upload_label,#demo{
  font-weight: bolder;
}

#upload_label:hover,#demo:hover{
  background-color: #d3d0d0;
}

#demo{
  /* position: absolute; */
  margin-top: -1px;
  margin-left: 20px;

}

#chart_area{
  margin-top: 35px;
}

#function_container{
  margin-top: 50px;
  text-align: center;
}




#function_button_area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 20px;
  width: 940px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
}


.function_button{
  
}

.function_button.offset,#zoom{
  
  font-family: 'Oswald', sans-serif;
  background-color: rgb(102, 102, 102);
  color:white;
  font-size: medium;
  border-radius: 10px;
  padding:20px;
  height: 10px;
  border-width: 0;
  margin-top: 4px;
  line-height: 0px;
}

#zoom{
  margin:auto;
  display: none;
  width:100px;
}

.function_button.offset:hover{
  transition: opacity .25s;
  opacity: 80%;
  cursor: pointer;
}
#zoom:hover{
  transition: opacity .25s;
  opacity: 80%;
  cursor: pointer;
}


input[type=text]{
  font-family: 'Oswald', sans-serif;
  font-size:medium;
  padding-left: 50px;
  width:200px;
  padding:7px;
  margin:5px;
  border-radius:10px;
  border-width: thin;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  margin-right:0px
}

.ChangeName{
  /* margin-top: 3px; */
  width: 200px;
  margin-left: 15px;
}

input[value="change"]{
  display:none;
}

.avg_power{
  text-align: left;
  width: 200px;
  margin-left:25px;
  margin-top:15px;
}

#myChart{
  display: none;
}
#myChartCadence{
}